# > tkeel platform values
# default plugin id
daprConfig: keel
# < tkeel platform values

# plugin custom values
middleware:
  name: tkeel-middleware
replicaCount: 1
appPort: 31234
nodePort: 30707
image:
  repository: tkeelio/keel
  tag: v0.3.0
  pullPolicy: Always
watchInterval: 5s