/dist
.idea
**/.DS_Store

github.com/

.vscode
tmp.yaml

# Visual Studio 2015/2017/2019 cache/options directory
.vs/
/vendor
**/*.log
**/.project
**/.factorypath

test_report_e2e.json
test_report_unit.json

*/test*
*/tip*

golint

# Compiled product
docker/keel/keel
docker/rudder/rudder
build.sh

# win
*.exe