# > tkeel platform values
# default plugin id
daprConfig: rudder
# < tkeel platform values

# rudder custom values
middleware:
  name: tkeel-middleware
replicaCount: 1
appPort: 31234
adminPassword: tKeelAdmin
nodePort: 30777
image:
  repository: tkeelio/rudder
  tag: v0.3.0
  pullPolicy: Always
