name: main
on:
  push:
    branches:
      - master
      - main
      - dev
  pull_request:
    branches:
      - master
      - main
jobs:
  check:
    uses: uptutu/tkeel/.github/workflows/public_call.yml@main
    with:
      upload_require: false